@media screen and (max-width:768px) {
	.popover {
		display: none;
		width: 150px;
		height: 80px;
		text-align: center;
		line-height: 80px;
		position: absolute;
		left: 100%;
		top: 0;
		margin-left: 13px;
		border-radius: 5px;
		background-color: rgb(180, 180, 180);
	}
	.popover::before { /* 三角形 */
		content: '';
		position: absolute;
		right: 100%;
		top: 8px;
		border: 13px solid transparent;
		border-right-color: rgb(180, 180, 180);
	}
	
}